<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
	
	RewriteRule ^([^\.]+)$ $1.php
	RewriteRule ^inloggen index?inloggen [L]
	RewriteRule ^registreren index?registreren [L]
	RewriteRule ^uitloggen index?uitloggen [L]
	
	ErrorDocument 404 http://dc-ictwebs.nl/103706/marktplaats/404
	
	RewriteRule ^categorie/([^/]*)\.php$ ?cat=$1 [L]
	RewriteRule ^categorie/([^/]*)/([^/]*)\.php$ ?cat=$1&AdvertentieID=$2 [L]
	RewriteRule ^categorie/([^/]*)/filter/([^/]*)\.php$ ?cat=$1&filter=$2 [L]
	
</IfModule>